[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "==1.11.11"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"
djangorestframework = "*"
Pillow = "*"
dj-database-url = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
