[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "==1.11.23"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"
djangorestframework = "*"
Pillow = "*"
dj-database-url = "*"
whitenoise = "*"
django-markdownx = "*"
django-embed-video = "*"
"psycopg2-binary" = "*"
django-polymorphic = "*"

[requires]
python_version = "3.6"
