{% extends 'main/base.html' %}
{% load show_markdown %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/article-detail.css' %}">
{% endblock %}

{% block title %}FADREA {{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div class="article">
        {{ article.text|show_markdown|safe }}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'main/js/embed.js' %}"></script>
{% endblock %}