{% extends 'main/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/artist-list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Artists</h2>
        <div class="row">
            {% for artist in artists %}
                <div class="col s12 m6 l4 artist-container">
                    <div class="artist-image">
                        <a href="{% url 'artist-detail' artist.slug %}">
                            <div class="img" style='background-image: url("{{ artist.image }}")'>
                                <div><span>{{ artist.title }}</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="artist-info">
                        <p class="artist-title"><a href="{% url 'artist-detail' artist.slug %}">{{ artist.name }}</a>
                        </p>
                        <p>posts: {{ artist.posts.all.count }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}