{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    {% block styles %}

    {% endblock %}
</head>

<body>
<nav class="white">
    <div class="nav-wrapper custom-nav">
        <a href="/" class="brand-logo">FADREA</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down" id="desktop-nav">
            <li>
                <a href="#">Residents</a>
            </li>
            <li>
                <a href="{% url 'news' %}">News</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            {% block nav-links %}

            {% endblock %}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-nav">

</ul>
<div id="main-content" class="">
    {% block content %}

    {% endblock %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

{% block scripts %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}
</body>

</html>