{% extends 'main/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/events.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>under construction</h1>
        <p>Keep an eye on our <a href="https://www.facebook.com/fadrea.be/">Facebook page</a> or send an
            email to <a href="mailto:info@fadrea.be?subject=newsletter">info@fadrea.be</a> with the title 'newsletter'
            to subscribe for all our newsletters.</p>
    </div>
{% endblock %}