{% extends 'main/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
{% endblock %}
{% block nav-links %}
    <li><a href="#">index link</a></li>
{% endblock %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message disappearing {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}error{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'game' %}">play our game!</a>
    <br>
    <a href="{% url 'highscore' %}">highscores!</a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}