{% extends 'main/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/article-list.css' %}">
{% endblock %}

{% block title %}{{ block.super }}{% endblock %}

{% block nav-links %}
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message disappearing {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}error{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <section class="row">
        {% with view.spotlight as s %}
            <div class="col s12 m8 l6 spotlight-item">
                <a href="{{ s.left_url }}">
                    <img src="{{ s.left_image }}" alt="left spotlight image">
                    <span>{{ s.left_title }}</span>
                </a>
            </div>
            <div class="col s12 m8 l6 spotlight-item">
                <a href="{{ s.right_url }}">
                    <img src="{{ s.right_image }}" alt="right spotlight image">
                    <span>{{ s.right_title }}</span>
                </a>
            </div>
        {% endwith %}
    </section>

    <section class="row">
        {% with view.articles as articles %}
            {% for article in articles %}
                <div class="col s12 m6 l4 article-container">
                    <div class="article-image">
                        <a href="{% url 'article-detail' article.slug %}">
                            <img src="{{ article.image }}"
                                 alt="{{ article.title }} thumbnail">
                        </a>
                    </div>
                    <div class="article-info">
                        <p class="article-title"><a
                                href="{% url 'article-detail' article.slug %}">{{ article.title }}</a>
                        </p>
                        <p>{{ article.created|date }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </section>

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}