.article-image {
    padding: 5%;
}

.article-image img {
    max-width: 100%;
}

.article-title {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.article-container:nth-child(2n) {
    background: #f1f1f1;
}