html, body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

@font-face {
    font-family: titleFont;
    src: url("/static/main/fonts/Futura_Std_Light_Condensed.otf");
}

#main-content {
    margin: 2rem 0;
}

nav {
    font-family: titleFont, serif;
    background-color: #f5f5f5;
    box-shadow: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
}

.sidenav {
    background-color: #f5f5f5;
}

.custom-nav {
    width: 100%;
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
}

.nav-links {
    line-height: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-links .nav-row-container {
    width: 100%;
}

.nav-links .row.pr {
    padding-right: 4rem;
}

.nav-links a {
    font-size: 3.5rem;
}

.nav-content {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: flex-end;
}

.fadrea {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.fadrea a {
    font-size: 6rem;
}

.nav-content .img-logo {
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
    margin-left: 3rem;
}

.custom-nav a {
    color: #606c76 !important;
}

.message {
    background-color: greenyellow;
}

.message.error {
    background-color: indianred;
}

.message.disappearing {
    opacity: 0.5;
}

.user-view {
    min-height: 200px;
}

.user-view img {
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul li {
    list-style-type: disc !important;
}

@media only screen and (max-width: 993px) {
    .fadrea a {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 375px) {
    .fadrea a {
        font-size: 3rem;
    }
}

@keyframes slideout {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(-100px);
    }
}

.msg-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 75px;
    left: 0;
    top: 0;
    right: 0;
    width: 600px;
    background-color: rgba(86, 144, 255, 0.32);
    padding: 10px 10%;
    border-radius: 10px;
    /*animation-delay: 2s;*/
    /*animation-name: slide-out;*/
    /*-webkit-animation: 2.5s linear;*/
    /*-o-animation: 2.5s linear;*/
    /*animation: 2.5s linear;*/
    animation: slideout 3s linear;
}

.msg-box span {
    font-size: 2rem;
    text-align: center;
}
